.logo {
  height: 80px;
  text-align: center;

  img {
    height: 80px;
  }
}

.layout {
  min-height: 100vh;
}

.auth-menu {
  position: absolute;
  top: 0;
  right: 20px;
}

.navbar {
  display: inline-block;
}

.layout-content {
  position: relative;
  flex: none;
}
