@import "./index.scss";

:global(.text-center) {
  text-align: center;
}

:global(.layout-content) {
  padding: 16px;
}

:global(.search-form .form-item-input) {
  width: 200px;
}

:global(.global-spin.c-global-spin) {
  position: absolute;
  left: 49%;
  top: 49%;
}

:global(.table-wrapper) {
  margin-top: 20px;
}

:global(.text-left) {
  text-align: left;
}

:global(.text-right) {
  text-align: right;
}

.a {
  background: red;
}

body {
  background: #ededed;
  min-width: 960px;

  .App-logo {
    height: 50px;
  }
}
