
.header {
  background-image: url('../../static/logo.svg');
  text-align: center;
  height: 48px;
  line-height: 48px;
  background: skyblue;
}

.login-form-wrap {

}

.login-form {
  width: 200px;
  margin: 0 auto;
  margin-top: 100px;
}
